.sidebar {
  background: $background-alt-colour;
  width: 100%;
  margin-top: 15rem;
  position: unset;
  overflow-y: scroll;

  @media (min-width: 768px) {
    height: calc(100vh - 172px);
    min-width: 260px;
    margin-top: unset;
    padding: 2.375rem 0;
    display: block;
    position: fixed;
    top: 174px;
  }

  @media (min-width: 992px) {
    padding: 4.75rem 0 1rem;
  }
  @media (min-width: 1200px) {
    width: 360px;
  }

  &-cat {
    width: 100%;

    &:first-of-type {
      margin-top: 0.9375rem;
    }

    .bellows {
      background: $background-colour !important;
      color: $secondary-colour !important;
      margin: 0 0 1.25rem;
      border: none !important;
      box-shadow: none !important;

      &-target {
        border: none !important;
        background: $background-colour !important;

        &:hover {
          background: $primary-colour !important;
          color: $background-alt-colour !important;

          .bellows-target-title {
            color: $proof-white !important;
          }

          .bellows-subtoggle {
            background: none !important;

            &-icon-expand {
              color: $proof-white !important;
            }
          }
        }
      }

      &-active {
        & > .bellows-target {
          background: $primary-colour !important;

          .bellows-target-title {
            color: $proof-white !important;
          }
        }
      }

      .bellows-target-title {
        color: $secondary-colour !important;
      }

      &-subtoggle {
        background: none !important;

        &-icon-expand {
          color: $primary-colour;
        }
      }
    }
  }
}
