.admin-bar .header {
  top: 32px;
}

.header {
  background: $background-colour;
  border-bottom: 1px solid $secondary-colour;

  &-row-1,
  &-row-2 {
    width: 100%;
    margin: 0;
    padding: 0 10px;

    @media (min-width: 992px) {
      margin: 0;
      padding: 0 40px;
    }
  }

  &-row-1 {
    height: 111px;
    position: relative;
  }

  &-row-2 {
    background: $proof-white;
    height: fit-content;
    padding-bottom: 1rem;
  }

  &-logo {
    width: 120px;
    height: auto;
    position: relative;
    top: -0.5rem;

    &-svg {
      fill: $secondary-colour;
    }
  }

  &-account {
    color: $secondary-colour;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    // &-signin > a,
    // &-register > a,
    &-myacc {
      > a {
        color: $secondary-colour;
        transition: 300ms;

        &:hover {
          color: $primary-colour;
          text-decoration: none;
        }
      }
    }

    &-avi,
    &-settings {
      height: 2.2rem;
      width: 2.2rem;
      margin-left: 0.5rem;
      padding: 0.5rem;
      border-radius: 1.1rem;
      transition: 300ms;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $secondary-colour;
        color: $proof-white;
      }
    }

    &-avi {
      background: $primary-colour;
      color: $proof-white;
      border: none;
      border-radius: 50%;
      transition: 300ms;
    }

    &-settings {
      background: none;
      color: $secondary-colour;
      border: 1px solid $secondary-colour;
    }
  }

  &-search {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    background: $background-colour;
    color: $tertiary-colour;

    @media (min-width: 992px) {
      max-width: 45%;
      width: 360px;
      margin-bottom: 0;
    }

    i {
      padding: 0.5rem;
      font-size: 20px;
    }

    &-button {
      border: none;
      color: $secondary-colour;
    }

    &-bar {
      background: none;
      color: $primary-colour;
      width: 100%;
      height: 34px;
      padding: 0 0 0 0.5rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .header-order {
    font-size: 1rem;
    line-height: 20px;

    &:hover {
      text-decoration: none;
    }

    &-quantity,
    &-complete {
      background: $primary-colour;
      color: $proof-white;
      text-transform: uppercase;
      padding: 0.5rem 0;
      font-size: 0.97rem;
    }

    &-quantity {
      background: $proof-white;
      margin-right: 1rem;
      transition: 300ms;

      &:hover {
        text-decoration: none;
      }

      &-num {
        background: $primary-colour;
        padding: 0.5rem;

        &:hover,
        &:hover .header-order-quantity-summary {
          background: $primary-colour;
          color: $proof-button-background;
        }
      }

      &-summary {
        background: $proof-button-background;
        color: $primary-colour;
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        transition: 300ms;

        &:hover {
          background: $primary-colour;
          color: $proof-button-background;
        }
      }
    }

    &-complete {
      padding: 0.5rem;
      transition: 300ms;

      &:hover {
        background: $proof-button-background;
        color: $primary-colour;
        text-decoration: none;
      }
    }
  }

  .woocommerce-breadcrumb {
    width: fit-content;
    height: auto;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
      margin: 0 0 0.5rem;
    }

    a {
      margin-bottom: 0;
    }
  }
}
