@font-face {
  font-family: "Cocogoose Compressed Letterpress";
  src: url("CocogooseCompressed-Letterpre.eot");
  src: local("Cocogoose Compressed Letterpres"), local("CocogooseCompressed-Letterpre"), url("CocogooseCompressed-Letterpre.eot?#iefix") format("embedded-opentype"), url("CocogooseCompressed-Letterpre.woff2") format("woff2"), url("CocogooseCompressed-Letterpre.woff") format("woff"), url("CocogooseCompressed-Letterpre.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
