$primary-colour: #d17f48;
$secondary-colour: #364a57;
$tertiary-colour: #707070;
$proof-button-background: #fbf2ec;
$proof-white: #ffffff;
$proof-black: #333333;
$background-colour: #f8f8f8;
$background-alt-colour: #dddddd;
