* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $secondary-colour;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-colour;
}

a {
  color: $primary-colour;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    color: $secondary-colour;
    text-decoration: none;
  }
}

table {
  color: $secondary-colour;
}

input {
  width: 50px;

  @media (min-width: 992px) {
    color: $secondary-colour;
    width: 200px;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 2rem;
  }

  select {
    background: #fbf2ec;
    color: $secondary-colour;
    padding: 0.5rem;
    border: none;
    line-height: 2rem;

    .orderby {
      color: #d17f48;
    }
  }
}

.select2-selection__arrow b {
  border-color: #d17f48 transparent transparent transparent !important;
}

#main {
  padding: 0 0.5rem;
  position: relative;
  top: 204px;

  @media (min-width: 768px) {
    margin: 200px 0 0 260px;
    padding: 0.5rem 1rem 2rem;
    top: 0;
  }

  @media (min-width: 992px) {
    margin-top: 164px;
  }

  @media (min-width: 1200px) {
    margin-left: 260px;
    padding: 0.5rem 1rem 2rem;
  }

  @media (min-width: 1560px) {
    margin-left: 360px;
  }
}

.woocommerce-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;

  > #main {
    margin-left: 0;
  }
}

.woocommerce-page .col2-set .col-1 {
  max-width: 100%;
}

/* General */
.size {
  &-auto,
  &-full,
  &-large,
  &-medium,
  &-thumbnail {
    max-width: 100%;
    height: auto;
  }
}

/* Reset Password Page */
.woocommerce-lost-password {
  background: $background-colour;

  header {
    display: none;
  }
  main {
    margin: 0 !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0 !important;
  }
  aside {
    display: none !important;
  }
  form {
    max-width: 33rem;
    padding: 0 1rem;
    font-weight: 400;
    overflow: hidden;

    input#user_login {
      background: none;
      color: $primary-colour;
      width: 100%;
      padding: 0;
      border: none;
      border-bottom: 1px solid $secondary-colour;

      &:focus {
        outline: none;
      }
    }

    button.woocommerce-Button.button {
      color: $proof-white !important;
      text-shadow: none;
      border-color: none;
      box-shadow: none;
      background-color: $primary-colour !important;
      border: 0;
      box-shadow: none;
      min-height: 2rem;
      line-height: 2.30769231;
      padding: 0 0.75rem;
      transition: 300ms;

      &:hover {
        background: $proof-button-background !important;
        color: $primary-colour !important;
      }
    }
  }
}
