// // Imports
// @import "../../../inc/scss/abstracts/variables";

// .wc-block-grid__products {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0;
//   margin: 0 -8px 16px;
//   background-clip: padding-box;
//   justify-content: space-around;

//   .wc-block-grid__product-image {
//     border-bottom: 1px solid $secondary-colour;

//     img {
//       width: 250px;
//       height: auto;
//     }
//   }
// }

// li.wc-block-grid__product.wc-block-layout {
//   max-height: 452px !important;
//   max-width: 406px !important;
//   border: 1px solid #3b4a56;
//   margin: 52px;
// }

// .wc-block-grid__product-price .price .wc-block-components-product-price {
//   display: inline-block;
// }

// .wp-block-button.wc-block-components-product-button {
//   display: inline-block;
// }
